@mixin flex($jstfy, $align, $direction, $wrap) {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;

  justify-content: $jstfy;
  -webkit-justify-content: $jstfy;
  -ms-justify-content: $jstfy;
  -moz-justify-content: $jstfy;

  align-items: $align;
  -webkit-align-items: $align;

  -webkit-flex-flow: $direction $wrap;
  -ms-flex-flow: $direction $wrap;
  -moz-flex-flow: $direction $wrap;
}
@mixin flexBase {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  align-items: center;
  flex-wrap: wrap;
}
@mixin underlineBase {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
@mixin justCenter {
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
}
@mixin justSpArd {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  -moz-justify-content: space-around;
}
@mixin flxBsAccess($amt) {
  flex-basis: $amt;
  -webkit-flex-basis: $amt;
  -ms-flex-basis: $amt;
  -moz-flex-basis: $amt;
}


@mixin fontstyle($fontfam, $weight, $space, $trans, $size) {
  font-family: $fontfam;
  font-weight: $weight;
  letter-spacing: $space;
  text-transform: $trans;
  font-size: $size;
}
