@import 'normalize';
@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
  font-family: 'Raleway';
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #FFFDFD;
  @include flexBase;
  justify-content: center;

  span {
    margin-left: 1em;
    margin-right: 1em;
  }

  .heading-3 {
    margin: 0 5em;
  }

  h2 {
    color: $darkRed;
  }
}

.footer-container {
  flex-basis: 100%;
  @include flexBase;
  justify-content: center;
}

.footer-refs {
  flex-basis: 100%;
  @include flexBase;
  justify-content: center;
  padding: 1em 2em;

  li {
    margin: 0 5em;
  }
}

.nav-bar {
  @include flexBase;
  justify-content: center;
  z-index: 100000;
  .nav-item{
    padding: 1em 0.8em;
    &:first-child{
        flex-basis: 66%;
    }
  }
  .heading-2 {
    flex-basis: 10%;
    white-space: nowrap;
  }
}

.index-wrapper{
position: absolute;
top: 0;
bottom: 0;
width: 100%;
height: 100%;

  overflow: hidden;
  video {
    object-fit: cover;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  }
  h1{
    transform: translate(-50%, 0);
    position: absolute;
    top: 10vh;
    left: 50vw;
  }
  h2{
    transform: translate(-50%, 0);
    position: absolute;
    top: 60vh;
    left: 50vw;
  }
  h3{
    color: white;
    transform: translate(-50%, 0);
    position: absolute;
    top: 35vh;
    left: 50vw;
    font-size: 1.4em;
  }
}

.title-text{
  font-family: 'Work Sans';
  font-weight: 600;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  font-size: 7em;
  color: $brightRed;
}

.heading-1 {
  font-family: 'Work Sans';
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 2rem;
  color: $darkRed;
}

.heading-2 {
  font-family: 'Work Sans';
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.heading-3 {
  font-family: 'Work Sans';
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.paragraph-text {
  font-family: 'Raleway';
  font-weight: 300;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  text-decoration: none;
}

.text-link {
  text-decoration: none;
  color: $darkGrey;
  position: relative;

  &::before {
    @include underlineBase;
    background-color: $brightRed;
  }

  &:focus,
  &:hover {
    color: $brightRed;
  }

  &:focus::before,
  &:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(0.85);
    transform: scaleX(0.85);
  }
}

.text-link-1 {
  position: relative;
  color: $darkGrey;
  text-decoration: none;

  &::before {
    @include underlineBase;
    transform-origin: 0 50%;
    background-color: $darkGrey;
  }

  &:focus::before,
  &:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.button-1{
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  padding: 1em 2.5em;
  border: solid 2px $darkRed;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 0.6em;

  &:hover{
    background-color: transparentize($brightRed, 0.6);
    color: white;
    text-shadow: 1px 0 0 currentColor;

  }
}
