@import 'normalize.scss';
@import 'variables.scss';
@import 'mixins.scss';

* {
  box-sizing: border-box;
  font-family: 'Raleway';
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #FFFDFD;
  @include flexBase;
  justify-content: center;
  span {
    margin-left: 1em;
    margin-right: 1em;
  }

  .heading-3 {
    margin: 0 5em;
  }

  h2 {
    color: $darkRed;
  }
}

.footer-container {
  flex-basis: 100%;
  @include flexBase;
  justify-content: center;
}

.footer-refs {
  flex-basis: 100%;
  @include flexBase;
  justify-content: center;
  padding: 1em 2em;

  li {
    margin: 0 5em;
  }
}

.nav-bar{
  @include flexBase;
  li{
  heading-1{
    justify-content: flex-start;
  }
  heading-2{
    justify-content: flex-end;
  }
}
}

.heading-1 {
  font-family: 'Work Sans';
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 2rem;
  color: $darkRed;
}

.heading-2 {
  font-family: 'Work Sans';
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.heading-3 {
  font-family: 'Work Sans';
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.paragraph-text {
  font-family: 'Raleway';
  font-weight: 300;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  text-decoration: none;
}

.text-link {
  text-decoration: none;
  color: $darkGrey;
  position: relative;
  &::before {
    @include underlineBase;
    background-color: $brightRed;
  }

  &:focus,
  &:hover {
    color: $brightRed;
  }

  &:focus::before,
  &:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(0.85);
    transform: scaleX(0.85);
  }
}

.text-link-1 {
  position: relative;
  color: $darkGrey;
  text-decoration: none;
  &::before {
    @include underlineBase;
    transform-origin: 0 50%;
    background-color: $darkGrey;
  }
  &:focus::before,
  &:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
