* {
  box-sizing: border-box;
  font-family: 'Raleway';
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #E2E1CF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.footer-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-icons {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em 2em;
}

span {
  margin-left: 1em;
  margin-right: 1em;
}

.footer-icons li {
  margin: 0 1.5em;
}

.footer-refs {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em 2em;
}

.footer-refs li {
  margin: 0 5em;
}

.heading-1 {
  font-family: 'Work Sans';
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 2rem;
  color: #660000;
}

.heading-2 {
  font-family: 'Work Sans';
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.heading-3 {
  font-family: 'Work Sans';
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.paragraph-text {
  font-family: 'Raleway';
  font-weight: 300;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
}

.text-link {
  text-decoration: none;
  color: #2A191E;
  transition: ease 0.5s;
  position: relative;
}

.text-link::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #930000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.text-link:hover, .text-link:focus {
  color: #930000;
}

.text-link:hover::before, .text-link:focus::before {
  visibility: visible;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

.text-link-1 {
  position: relative;
  color: #2A191E;
  text-decoration: none;
}

.text-link-1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #2A191E;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.text-link-1:hover::before, .text-link-1:focus::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a>i {
  color: #2A191E;
  transition: ease-in-out 0.2s;
}

a>i:hover {
  color: #660000;
}
